<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <input type="text" placeholder="name" name="firstname" /> 
        <br>
        <input type="text" placeholder="surname" name="lastname" />
        <br>
        <input type="text" placeholder="gender" name="gender" /> 
        <br>
        <input type="text" placeholder="address" name="address" />
        <br>
        <input type="text" placeholder="role" name="userRole" />
        <br>
        <input type="text" placeholder="email account" name="email" />
        <br> 
        <input type="text" placeholder="password" name="userpassword" /> 
        <br>
        <button type="submit" id="sumbit">Submit</button>
    </form>
</body>
</html>